.content {
float: left;         /* This causes the content to move to the left 
                        It's going to appear to the left of the content because 
                        we declared it first in our HTML page */
width: 800px;        /* We need to set the width whenever we float an element */
}

.sidebar-one {
float: left;         /* This causes the sidebar to move to the left */
width: 700px;        /* We need to set the width whenever we float an element */
}

button {
    margin-bottom: 5px;    
}

.actionsLog {
    height: 200px; 
    overflow-y: auto; /* Enable vertical scrollbar if content overflows */
    border: 1px solid #ccc;
    padding: 10px;
    border: 10px solid #ccc;
    border-radius: 5px;
}
.actions-log-item {
    margin-bottom: 5px;
}

label {
    user-select: none; /* Prevent label from being selectable */
}

.button-group {
    display: flex;
  }
  
  input[type="radio"] {
    display: none; /* Hide the actual radio buttons */
  }
  
  .button-group label {
    display: block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  input[type="radio"]:checked + label {
    background-color: #ccc;
  }

* {
  font-family: 'Monocraft';
  src: url('./Monocraft.ttf') format('truetype');
}